body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}


input[type="number"] {
    padding: 5px;
    margin: 10px 0;
    width: 200px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

select {
    padding: 5px;
    margin: 10px 0;
    width: 220px;
}

img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
}
